<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061361002730-sm6709175r1fv4fehepbs5ot4p6jj0bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061361002730-sm6709175r1fv4fehepbs5ot4p6jj0bh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1061361002730-c3o86vfm9gramicdsn9ge4rfe6t40b6e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBjiUDMDPlLzID3DdD96tgOSQ6Zs9v7ITk</string>
	<key>GCM_SENDER_ID</key>
	<string>1061361002730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exp.acelera.flutterAppexp</string>
	<key>PROJECT_ID</key>
	<string>expacer-6dad6</string>
	<key>STORAGE_BUCKET</key>
	<string>expacer-6dad6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061361002730:ios:be34c3bd2977ea2226cf93</string>
</dict>
</plist>